
/* Scrollbar customization */
.parent-Section{
    overflow-y: auto;
}


.parent-Section::-webkit-scrollbar{
    width: 0.5vw;
    background: #FBF6F6;
}



.parent-Section::-webkit-scrollbar-thumb{
    background: #9e9e9e;
    border-radius: 5vw;
    border: 0.2vw solid rgba(0, 0, 0, 0);
}


.parent-Section::-webkit-scrollbar-button:single-button{
    background-color: white;
    display: block;
    border-style: solid;
    height: 1.5vw;
    width: 1vw;
}


.parent-Section::-webkit-scrollbar-button:single-button:vertical:decrement{
    border-width: 0vw .3vw 0.4vw .3vw;
    border-color: transparent transparent #555555 transparent;
}



.parent-Section::-webkit-scrollbar-button:single-button:vertical:increment{
    border-width:0vw 0.3vw  0.4vw 0 0.3vw;
    border-color: #555555 transparent transparent transparent;
}