.routine-table-body-section::-webkit-scrollbar-track {
    background: rgb(3, 114, 108);
    border-radius: 50px;
    width: 3px;
}

.routine-table-body-section::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 50px;
    height: 1px;
    padding: 3px 0;
    /* border: 0.2vw solid rgba(0, 0, 0, 0); */
    border: 1px solid black;
}

routine-table-body-section::-webkit-scrollbar-thumb:hover {
    background: red;
}


/* .routine-table-body-section::-webkit-scrollbar-thumb:hover {
    background: red;
}   */


/* Scrollbar customization */


/* 
.routine-table-body-section::-webkit-scrollbar-button:single-button {
    display: block;
}

.routine-table-body-section::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 0vw 0.3vw 0.4vw 0 0.3vw;
    border-color: transparent black transparent rgb(0, 255, 106);
    border-style: solid;
}

.routine-table-body-section::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 0vw 0.3vw 0.4vw 0 0.3vw;
    border-color: #7c0909 transparent transparent transparent;
} */


/* Scrollbar customization end */